header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-image: url(../img/headerbg3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media only screen and (max-width: 767px) {
    header {
      background-image: url(../img/headerbg3.jpg); } }

h1 {
  color: #fff; }

p {
  color: #B2DFDB; }

main {
  padding: 3rem; }

.slideUp {
  animation-name: slideUp;
  animation-duration: .7s;
  animation-fill-mode: forwards; }

.slideDown {
  animation-name: slideDown;
  animation-duration: .4s;
  animation-fill-mode: forwards; }

@keyframes slideUp {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }
@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
/* DISPLAY ONLY */
body {
  width: 80%;
  margin: 3rem auto;
  background-image: url(../img/mainbg11.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media only screen and (max-width: 767px) {
    body {
      background-image: url(../img/mainbg11.jpg); } }

.display {
  margin: 0 1.5rem;
  padding: 1rem 5%;
  font-size: 3em;
  background-color: #fff;
  border-radius: 5px;
  font-family: 'Barlow Condensed', sans-serif; }
  @media only screen and (max-width: 767px) {
    .display {
      margin-top: -8rem;
      padding: 1rem 5%;
      font-size: 1.5em; } }

.message {
  margin: 1.5rem 0 1.5rem;
  padding: 1rem 2.2%;
  background-color: #011638;
  border-radius: 5px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 50px;
  color: #fff;
  grid-row: 3; }
  @media only screen and (max-width: 767px) {
    .message {
      margin-top: -8rem;
      padding: 1rem 5%;
      font-size: 1.5em; } }

.logo {
  size: relative;
  width: 25%;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1; }
  @media only screen and (max-width: 767px) {
    .logo {
      width: 100%;
      max-width: 250px;
      height: auto; } }

main {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  margin-top: -6rem; }
  @media only screen and (max-width: 767px) {
    main {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
      align-items: center;
      justify-items: center;
      height: 100vh; } }

.godark {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  padding: .75rem 1.5rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #011638;
  border-radius: 5px; }
  @media only screen and (max-width: 767px) {
    .godark {
      font-size: 1.2em; } }

.dark {
  background-image: url(../img/mainbg10.jpg);
  background-color: #fff; }
  .dark h1, .dark h2, .dark p {
    color: #fff; }

h2 {
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;
  grid-column: 1;
  grid-row: 1;
  border-radius: 5px;
  padding: .75rem 1.5rem;
  background-color: #5899e2; }
  @media only screen and (max-width: 767px) {
    h2 {
      margin-left: -5rem;
      font-size: 1rem; } }

aside {
  grid-column: 2;
  text-align: justify;
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif; }

@media only screen and (max-width: 767px) {
  aside h2 {
    margin-left: 0.01rem; } }
aside p {
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif; }

.high {
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3em;
  grid-column: 2;
  grid-row: 2; }
  @media only screen and (max-width: 767px) {
    .high {
      margin-left: -5rem;
      color: #011638;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 3em;
      grid-column: 1 / span 3;
      grid-row: 2; } }

.icon {
  grid-column: 2;
  grid-row: 1; }
  @media only screen and (max-width: 767px) {
    .icon {
      padding-top: 4rem;
      margin-bottom: -2rem;
      margin-left: -5rem;
      grid-column: 1 / span 3;
      grid-row: 1; } }

.icon img {
  height: 200px;
  width: 200px; }
  @media only screen and (max-width: 767px) {
    .icon img {
      height: 160px;
      width: 160px; } }

.summary {
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2em;
  padding-top: 1rem;
  padding-bottom: 3rem;
  grid-column: 2;
  grid-row: 3; }
  @media only screen and (max-width: 767px) {
    .summary {
      text-align: center;
      margin-left: -5rem;
      color: #011638;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 2em;
      padding-top: 1rem;
      padding-bottom: 3rem;
      grid-column: 1 / span 3;
      grid-row: 3; } }

.mascot {
  grid-column: 2;
  grid-row: 4; }
  @media only screen and (max-width: 767px) {
    .mascot {
      grid-column: 1 / span 3;
      grid-row: 4; } }

.mascot img {
  width: 250px;
  height: 250px;
  border-radius: 12rem; }
  @media only screen and (max-width: 767px) {
    .mascot img {
      margin-left: -5rem;
      width: 220px;
      height: 220px;
      border-radius: 12rem; } }

main h1 {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3rem;
  text-align: center;
  grid-column: 2;
  grid-row: 6;
  margin: 1.5rem 0 1.5rem;
  padding: 1.5rem 10.0%;
  background-color: #011638;
  border-radius: 5px; }
  @media only screen and (max-width: 767px) {
    main h1 {
      margin-left: -1rem; } }

.card2 {
  width: 100vw;
  height: 100vh;
  grid-column: 2;
  grid-row: 6;
  background-color: #fff .5;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-items: center; }
  .card2 h1 {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    margin: 0;
    padding: 2rem; }
  @media only screen and (max-width: 767px) {
    .card2 {
      width: 100%;
      height: 100vh;
      grid-column: 1 / span 3;
      grid-row: 6;
      background-color: #fff .5;
      overflow: hidden;
      position: relative;
      align-items: center;
      justify-items: center; }
      .card2 h1 {
        font-family: 'Barlow Condensed', sans-serif;
        text-align: center;
        margin: 0;
        padding: 2rem; } }

.overlay-content {
  font-family: 'Barlow Condensed', sans-serif;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #5899e2;
  padding: 2rem;
  transform: translateY(100%);
  transition: all .4s; }
  @media only screen and (max-width: 767px) {
    .overlay-content {
      width: 100vw;
      height: 100vh; } }

.inner {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center; }
  .inner .high {
    grid-column: 1;
    grid-row: 1;
    align-self: center; }
  .inner .low {
    color: #011638;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3em;
    grid-column: 3;
    grid-row: 1;
    align-self: center; }
  .inner .icon {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    display: grid; }
    .inner .icon img {
      align-self: center; }

.show-content {
  transform: translateY(0); }

/*# sourceMappingURL=main.css.map */
