main {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  margin-top: -6rem;
@media only screen and (max-width: 767px) {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}
}


.godark {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  padding: .75rem 1.5rem;
  font-family: 'Barlow Condensed', sans-serif;	
  text-decoration: none; 
  color: #212121;
  background-color: #fff;
  border-radius: 5px;
  @media only screen and (max-width: 767px) {
  margin-left: -1rem;
}
}

.dark {
  background-image: url(../img/mainbg10.jpg);
h1, h2, p {
    color: #fff;
  }
}


h2 {
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;	
  grid-column: 1;
  grid-row: 1;
 @media only screen and (max-width: 767px) {
  margin-left: -5rem;
  font-size: 1rem;
}
}

aside {
  grid-column: 1 / span 3;
  text-align: justify;
  text-justify: center;
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;	
  padding-left: 4rem;
  padding-right: 4rem;
}

aside h1 {
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;	
}


.high {
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3em;
  grid-column: 2;
  grid-row: 2;
@media only screen and (max-width: 767px) {
  margin-left: -5rem;
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3em;
  grid-column: 1 / span 3;
  grid-row: 2;
}
}



.icon {
  grid-column: 2;
  grid-row: 1;
@media only screen and (max-width: 767px) {
  margin-left: -5rem;
  grid-column: 1 / span 3;
  grid-row: 1;
}
}

.icon img {
  height: 200px;
  width: 200px;
@media only screen and (max-width: 767px) {
  height: 200px;
  width: 200px;
}
}



.summary {
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2em;
  padding-top: 1rem;
  padding-bottom: 3rem;
  grid-column: 2;
  grid-row: 3;
@media only screen and (max-width: 767px) {
  text-align: center;
  margin-left: -5rem;
  color: #011638;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2em;
  padding-top: 1rem;
  padding-bottom: 3rem;
  grid-column: 1 / span 3;
  grid-row: 3;
  }
  }



.mascot {
  grid-column: 2;
  grid-row: 4;
@media only screen and (max-width: 767px) {
  grid-column: 1 / span 3;
  grid-row: 4;
}
}

.mascot img {
  width: 250px;
  height: 250px;
  border-radius: 12rem;
@media only screen and (max-width: 767px) {
  margin-left: -5rem;
  width: 250px;
  height: 250px;
  border-radius: 12rem;
}
}



main h1{
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3rem;
  text-align: center;
  grid-column: 2;
  grid-row: 6;
  margin:1.5rem 0 1.5rem;
  padding: 1.5rem 10.0%;
  background-color: #011638;
  border-radius: 5px;
  @media only screen and (max-width: 767px) {
  margin-left: -1rem;
}
}



.card2 {
  width: 100vw;
  height: 100vh;
  grid-column: 2;
  grid-row: 6;
  background-color: #fff .5;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-items: center;
  h1 {
  	font-family: 'Barlow Condensed', sans-serif;
  	text-align: center;
    margin: 0;
    padding: 2rem;
}
@media only screen and (max-width: 767px) {
  width: 100%;
  height: 100vh;
  grid-column: 1 / span 3;
  grid-row: 6;
  background-color: #fff .5;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-items: center;
  h1 {
  	font-family: 'Barlow Condensed', sans-serif;
  	text-align: center;
    margin: 0;
    padding: 2rem;
  }
}
}

.overlay-content {
  font-family: 'Barlow Condensed', sans-serif;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3 , 1fr);
  align-items: center;
  justify-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #5899e2;
  padding: 2rem;
  transform: translateY(100%);
  transition: all .4s;
@media only screen and (max-width: 767px) {
  width: 100vw;
  height: 100vh;
}
}

.inner {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  .high{
  	grid-column: 1;
  	grid-row:1;
  	align-self: center;
  }
  .low{
  	color: #011638;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3em;
  	grid-column: 3;
  	grid-row:1;
  	align-self: center;
  }
  .icon{
  	grid-column: 2;
  	grid-row:1;
  	align-self: center;
  	display: grid;
  	img{
  		align-self: center;
  	}
  }
}

.show-content {
  transform: translateY(0);
}